<!DOCTYPE html>
<html ng-app="appContas">
<meta charset="utf8" />
<head>
	<title>Financas</title>
	<link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
	label{
		width: 100px;
	}

	</style>
	</head>
<body>
<div class="container-fluid" ng-controller="appContasCrtl">
			<div class="page-header">
				<h1>
					Cadernetinha <small>Controle das contas da Fernandinha</small>
				</h1>
			</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
				<div class="page-header"> <h3>Cadastre os Lançamentos</h3> </div>
				<form novalidate="novalidate" >
					<label class="form-group">
					Data:<input type="text" ng-model="data"></input>
					Descricao: <input type="text" ng-model="descricao">
					Valor: <input type="text" ng-model="valor"></input>
					Tipo: <select  class="form-control" ng-model="categoria" id="categoria">
					<option value="true">Entrada</option>
					<option value="false">Saida</option>
					</select>
					<br>
					{{categoria}}
					</br>
					<a ng-click="salvar(data, descricao, valor, categoria)" > <span class="glyphicon glyphicon-plus-sign"></span></a></label>
					
				</form>
				</label>
				<!--{{form | json}} 
				{{nome}}-->	
				</div>
				<div class="col-md-6">
				<div class="page-header"> <h3>Lançamentos</h3> </div>
				<table class="table">
						<thead>
							<tr>
								
								<th>
									{Mês}
								</th>
								<th>
									Descrição
								</th>
								<th>
									Totais
								</th>
							</tr>
						</thead>
						<tbody>
							<tr >
								<td>
								#
								</td>
								<td>
								Entradas
								</td>
								<td>
								{R$00,00}
								</td>
							</tr>
							<tr >
								<td>
								#
								</td>
								<td>
								Saidas
								</td>
								<td>
								{R$00,00}
								</td>
							</tr>
							<tr >
								<td>
								#
								</td>
								<td>
								Futuros
								</td>
								<td>
								{R$00,00}
								</td>
							</tr>
						</tbody>
					</table>
					 <h4 class="text-right">Valor Final<small> {R$00,00}</small> </h4>
					<a ng-click="excluirConta(form)" class="glyphicon glyphicon-remove-circle"></a>
					<a ng-click="somarEntrada(form)" class="glyphicon glyphicon-wrench"></a>	
					<a ng-click="somarSaida(form)" class="glyphicon glyphicon-wrench"></a>	
					<!-- Modal funcionando kkkkk-->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			 <a id="modal-254539" href="#modal-container-254539" role="button" class="btn" data-toggle="modal">Relatorio Mensal</a>
			
			<div class="modal fade" id="modal-container-254539" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Relatorio Mês {{Abril}}{{2016}}
							</h4>
						</div>
						<div class="modal-body">
							<table class="table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Data
								</th>
								<th>
									Descrição
								</th>
								<th>
									Valor
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="formulario in form" >
								<td>
									<input type="checkbox" ng-model="formulario.selecionado"/>
								</td>
								<td>
								{{formulario.data | date}}
								</td>
								<td>
								{{formulario.descricao}}
								</td>
								<td>
								{{formulario.valor | currency}}
								</td>
								<td>
								{{formulario.categoria}}
								</td>
							</tr>
						</tbody>
					</table>
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Fechar
							</button> 
							<button type="button" class="btn btn-primary">
								Imprimir
								<!-- ver como fazer uma versao em pdf :) -->
							</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
</div>
<!-- Fim do Modal-->
				</div>
			</div>
		</div>
	</div>
</div>

</div>


<script src="angular/angular.min.js">
</script>
<script src="angular/locale.js"></script>
<script type="text/javascript">
	var app=angular.module('appContas',[]);
	app.controller ('appContasCrtl', ['$scope', function($scope){
		$scope.form = [{
			data: "15/05/2016",
			descricao: "Album Fotos",
			valor: 115,
			categoria: false
		},{
			data: "15/06/2016",
			descricao: "Album Fotos",
			valor: 115,
			categoria: false
		},{
			data: "10/05/2016",
			descricao: "Pagamento",
			valor: 1000,
			categoria: true
		}];

		$scope.salvar = function(data, descricao, valor, categoria){
			$scope.form.push({data: data, descricao: descricao, valor: valor, categoria: categoria});
			
		};
		$scope.excluirConta = function(form){
			$scope.form= form.filter(function(formulario){
				if (!formulario.selecionado) return formulario;
				})
	 	};
	
	 	$scope.somarSaida = function(form){
	 		var total = 0, tamanhoArray = $scope.form.length;
	 		for (var i = 0; i < tamanhoArray; i++) {
	 			if(!$scope.form[i].categoria) {
	 				total += $scope.form[i].valor;
	 			}
	 		}
	 		console.log(total);
	 		return total;
	 	};

	 	$scope.somarEntrada = function(form){
	 		var total = 0, tamanhoArray = $scope.form.length;
	 		for (var i = 0; i < tamanhoArray; i++) {
	 			if($scope.form[i].categoria) {
	 				total += $scope.form[i].valor;
	 			}
	 		}
	 		console.log(total);
	 		return total;
	 	};
	 
}])


</script>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>