<!DOCTYPE html>
<html ng-app="appContas">
<meta charset="utf8" />
<head>
	<title>Financas</title>
	<link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
	label{
		width: 100px;
	}

	</style>
	</head>
<body>
<div class="container-fluid" ng-controller="appContasCrtl">
			<div class="page-header">
				<h1>
					Cadernetinha <small>Controle das contas da Fernandinha</small>
				</h1>
			</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
				<div class="page-header"> <h3>Cadastre os Lançamentos</h3> </div>
				<form novalidate="novalidate" >
					<label class="form-group">
					Data:<input type="text" ng-model="data"></input>
					Descricao: <input type="text" ng-model="descricao">
					Valor: <input type="text" ng-model="valor"></input>
					Tipo: <select  class="form-control" ng-model="categoria" id="categoria">
					<option value="true">Entrada</option>
					<option value="false">Saida</option>
					</select>
					<br>
					{{categoria}}
					</br>
					<a ng-click="salvar(data, descricao, valor, categoria)" > <span class="glyphicon glyphicon-plus-sign"></span></a></label>
					
				</form>
				</label>
				<!--{{form | json}} 
				{{nome}}-->	
				</div>
				<div class="col-md-6">
				<div class="page-header"> <h3>Lançamentos</h3> </div>
				<table class="table">
						<thead>
							<tr>
								
								<th>
								 {{mesParam}}

								</th>
								<th>
									Descrição

								</th>
								<th>
									Entradas
								</th>
								<th>
									Saidas
								</th>
							</tr>
						</thead>
						<tbody>
							<tr >
								<td>
								#
								</td>
								<td>
								Entradas 	<!--Totais de todas as entradas lancadas -->
								</td>
								<td>
								{{totalEntrada | currency}}
								</td>
								<td>
								
								</td>
							</tr>
							<tr >
								<td>
								#
								</td>
								<td>
								Saidas
								</td>
								<td>
								
								</td>
								<td>
								{{totalSaida | currency}}
								</td>
							</tr>
							<tr class="success">
								<td>
								#
								</td>
								<td>
								Saldo Atual:
								</td>
								<td >
								{{retornaMes}}
								</td>
								<td>
								
								</td>
							</tr>
						</tbody>
					</table>
					Mês: <select  class="form-control" ng-model="mesParam" id="mesParam">
					<option value="0">Janeiro</option>
					<option value="1">Fevereiro</option>
					<option value="2">Março</option>
					<option value="3">Abril</option>
					<option value="4">Maio</option>
					<option value="5">Junho</option>
					<option value="6">Julho</option>
					<option value="7">Agosto</option>
					<option value="8">Setembro</option>
					<option value="9">Outubro</option>
					<option value="10">Novembro</option>
					<option value="11">Dezembro</option>
					</select>

					<button ng-click="retornaMes(form, mesParam)"> Aqui</button>
					</br></br></br>
					<a ng-click="excluirConta(form)" class="glyphicon glyphicon-remove-circle"></a>
					<a ng-click="somarSaida(form)" class="glyphicon glyphicon-wrench"></a>	
					</br></br></br></br>
					<h4 class="text-right">Valor Final<small> {R$00,00}</small> </h4>
{{retornaMes}}
					<!-- Modal funcionando kkkkk-->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			 <a id="modal-254539" href="#modal-container-254539" role="button" class="btn" data-toggle="modal">Relatorio Mensal</a>
			
			<div class="modal fade" id="modal-container-254539" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Relatorio 
							</h4>
						</div>
						<div class="modal-body">
							<table class="table">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Data
								</th>
								<th>
									Descrição
								</th>
								<th>
									Valor
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="formulario in form" >
								<td>
									<input type="checkbox" ng-model="formulario.selecionado"/>
								</td>
								<td>
								{{formulario.data | date}}
								</td>
								<td>
								{{formulario.descricao}}
								</td>
								<td>
								{{formulario.valor | currency}}
								</td>
								<td>
								{{formulario.categoria}}
								</td>
							</tr>
						</tbody>
					</table>
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Fechar
							</button> 
							<button type="button" class="btn btn-primary">
								Imprimir
								<!-- ver como fazer uma versao em pdf :) -->
							</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
</div>
<!-- Fim do Modal-->
				</div>
			</div>
		</div>
	</div>
</div>

<button ng-click="retornaMes(form, '5')">AKI LOKURA</button>
</div>

<script src="angular/angular.min.js">
</script>
<script src="angular/locale.js"></script>
<script src="js/moment.js"></script>
<script src="js/app.js"></script>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script src="bootstrap3/js/bootstrap.min.js"></script>


</body>
</html>